# Systemd unit file for tomcat
# {{ ansible_managed }}
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ java_home }}
Environment=CATALINA_PID={{ catalina_home }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ catalina_home }}
Environment=CATALINA_BASE={{ catalina_base }}
Environment='CATALINA_OPTS=-Xms{{ tomcat_mem_size }} -Xmx{{ tomcat_mem_size }} -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ catalina_home }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User={{ tomcat_user }}
Group={{ tomcat_group }}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target