[Desktop Entry]
Version=1.0
Type=Application
Name=Caffeine
Comment=Temporarily deactivate the screensaver and sleep mode
Exec=/usr/bin/caffeine
Icon=caffeine
Path=
Terminal=false
StartupNotify=false