[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/google-chrome-stable http://landsharkengine
Name=Delphix Engine
Comment=Access the Internet
Icon=google-chrome