[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Comment=Eclipse IDE
Exec=ssh -o "StrictHostKeyChecking no" -Y delphix@tooling /u02/app/eclipse/eclipse
Icon=/home/ubuntu/icon.xpm
Path=
Terminal=false
StartupNotify=false
