ddp_hostname = delphixengine
username = delphix_admin
password = {{ delphix_admin_password }}
skip-validate = 1
dsource = "Patients Prod"
vdb = "Patients Masked Master"
vdb = "Patients Dev"
vdb = "Patients Test"
vdb = "prep1"
vdb = "prep2"
vdb = "prep3"
vdb = "prep4"
vdb = "prep5"
vdb = "prep6"
environment = proddb
environment = devdb