---
- name: Add to DE as devdb
  lineinfile:
    path: /home/centos/conf.txt
    regexp: '^environment ='
    line: 'environment = devdb'
  become_user: root
- name: Creates the reboot crontab for self_enroll 
  cron:
    name: "Enroll into Delphix on boot"
    special_time: reboot
    job: "until [[ \"$RESULT\" == \"yes\" ]] ; do RESULT=$(curl jumpbox:8181 2>/dev/null| jq -r '.environments.ready');echo waiting for ready &>>/tmp/enroll.log; sleep 10; done; sudo /home/{{ ansible_user }}/self_enroll -c conf.txt &>> /tmp/enroll.log"
  become: no
  tags:
    - cron