# {{ ansible_managed }}
server {
        listen       80;
        server_name  localhost;
        access_log /tmp/target.local_access.log combined;
        error_log  /tmp/target.local_error.log;

        location / {
            root /usr/share/nginx/html;
            index  index.html;
        }

        {# Add a location for each tomcat instance #}
        {% for apache_instance in apache_instances %}

        location /{{ apache_instance }}/ {
            proxy_pass http://localhost:{{ apache_instances[apache_instance].http_port }}/;
            sub_filter_once off;
            sub_filter '<head>' '<head>\n<base href="/{{ apache_instance }}/">';
            sub_filter 'src="/' 'src="./';
            sub_filter 'href="/' 'href="./';
        }

        {% endfor %}

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }