Application	| Username	| Password
jumpbox	| delphix	| {{ guac_user_password }}
patients	| patients_admin	| delphix
Delphx DDP self-service	| dev	| delphix
Delphx DDP self-service	| qa	| delphix
Delphix DDP Virtualization admin	| delphix_admin	| {{ delphix_admin_password }}
Delphix DDP Masking admin	| admin	| {{ delphix_admin_password }}
jenkins	| admin	| admin
bugzilla	| admin	| password
